<h1 class="form-heading">{{heading}}</h1>
<form [formGroup]="formGroup" (ngSubmit)="onSubmitForm(formGroup)">
    @for (field of formFields; track $index) {
        @if (field.type == 'checkbox') {
            <input class="form-check-input" type="{{field.type}}" formControlName = "{{field.name}}" id="{{field.name}}">
            <label class="form-check-label" for="{{field.name}}">{{field.displayName}}</label>
        }
        @else if (field.type == 'select') {
            <label for="{{ field.name }}" class="form-label">{{field.displayName}}</label>
            <select class="form-select" formControlName="{{ field.name }}" id="{{ field.name }}">
                @for (item of field.options; track $index) {
                    <option [value]="item.value">{{ item.label }}</option>
                }
              
            </select>
        }
        @else{
        <label for="{{field.name}}" class="form-label">{{field.displayName}}</label>
        <input class="form-control" type="{{field.type}}" formControlName = "{{field.name}}" placeholder="{{field.placeholder}}" id="{{field.name}}"  >
        <div>
            @if (showValidationErrors && formGroup.controls[field.name].invalid) {
                <small >{{ field.name }} is required.</small>
            }
        </div>
        }
    }
    <div class="form-action-buttons">
        @if (actionBtns!=null) {
            @for (btn of actionBtns; track $index) {
                @if (btn.visibility!=null) {
                    @if (btn.visibility()) {
                    <button [className]="btn.className" [type]="btn.type" [disabled]="btn.disabled" (click)="btn.onClick()">{{btn.name}}</button>
                    }
                }
                @else {
                    <button [className]="btn.className" [type]="btn.type" [disabled]="btn.disabled" (click)="btn.onClick()">{{btn.name}}</button>
                }
            }
        }
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
