form{
    width: 50%;
    margin:auto;
    .form-check-input{
        border: 2px solid black;
        margin:5px;
    }
    app-buttons{
        margin-top: 1%;
    }
}
h1{
    text-align: center;
    margin: 1%;
}