/* You can add global styles to this file, and also import other style files */
app-forms div small {
    color: red;
  }
  
.dark-theme {
    background-color: rgb(32, 32, 32) !important;
    color: white !important;
}
body {
    @extend .dark-theme;
  }
.heading{
  margin: 1%;
  text-align: center;
}