.card-dark {
    border: 2px solid white;
    margin: auto;
    width: 75%;
    margin-top: 2%;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .card-body{
        app-buttons{
            display: block;
            width: 10%;
            height: 10%;
            margin: auto;
        }
    }
    img {
        display: block;
        width: 25%;
        margin: auto;
    } 
}
