@use './assests/styles/flex.scss';
@use './assests/styles/variables.scss' as var;
@use './assests/styles/navbar.scss';
@use './assests/styles/footer.scss';
@use './assests/styles/form.scss';
body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

app-root{
    width: 100%;
    height: 100%;
    @extend .flex-column;
    .content{
        flex-grow: 1;
        padding-inline: var.$content-sides-padding;
    }
}
